* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-bottom: 1px solid black;
}
nav {
    margin: auto;
    border-bottom: 1px solid black;
    text-align: center;
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
nav li {
    padding: 1vh;
}
nav li:hover {
    background: chartreuse;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0%;
}
h3, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 1px 0px 0px black,
                 0px 1px 0px black,
                 -1px 0px 0px black,
                 0px -1px 0px black;
    font-style: italic;
}
h1 {
    color: white;
    text-shadow: 1px 0px 0px black,
                 0px 1px 0px black,
                 -1px 0px 0px black,
                 0px -1px 0px black;
    font-style: italic;
}
h2 {
    font-size: 2em;
    width: 90%;
    border-bottom: 1px solid grey;
}
header button {
    background-color: transparent;
    height: 100%;
    padding: 0 1rem 0 1rem;
    border: none;
}
footer {
    padding-top: 1vh;
    background: #888888;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
}
.new1{
    position: relative;
    height: fit-content;
    margin-top: 4vh;
}
.new1 div{
    position: absolute;
    bottom: 5%;
    padding-left: 2vw;
    list-style: none;
}
.tag {
    font-size: 0.8em;
}
.new1 .tag {
    padding: 0.3em;
    border-radius: 10px;
    background-color: #f38b14;
}
.new2 {
    margin: 2vh 0 2vh 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.new2 > div {
    display: flex;
    justify-content: space-between;
}
.new2 > div > div {
    padding: 2vh 0 2vh 0;
}
.new2 img {
    width: 50%;
}
#more-news li {
    display: flex;
    height: fit-content;
    margin: auto;
    margin-bottom: 1vh;
}
#more-news img {
    width: 20%;
}
#more-news div {
    margin-left: 2vw;
}
#most-read li {
    position: relative;
    counter-increment: li;
    width: 90%;
    margin-bottom: 3vh;
}
#most-read li > div {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}
#most-read li::marker {
    content:counter(li) " ";
    font-weight: bolder;
    font-size: 2em;
}
#most-read li img {
    width: 20%;
}
footer ul {
    width: fit-content;
    margin: auto;
}
@media (min-width: 768px) {
    .news1-container {
        display: flex;
        justify-content: space-between;
    }
    .news3-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        margin: 4vh 0 0 1vw;
        padding-left: 1vw;
        border-left: 1px solid gray;
        font-size: 80%;
    }
    .new3 {
        margin: 0;
    }
    .news2-container, .other-news-container {
        display: flex;
    }
    #more-news, #most-read {
        width: 50%;
    }
}