* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border-bottom: 1px solid black;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
}
ul {
    padding: 0%;
}
h3, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-size: 2em;
    width: 90%;
    border-bottom: 1px solid grey;
}
header img {
    width: 15%;
    height: auto;
}
header button {
    background-color: transparent;
    height: 100%;
    padding: 0 1rem 0 1rem;
    border: none;
}
.new1 {
    position: relative;
    margin-top: 4vh;
}
.new1 div{
    position: absolute;
    bottom: 5%;
    list-style: none;
}
.tag {
    font-size: 0.8em;
}
.new1 .tag {
    padding: 0.3em;
    border-radius: 10px;
    background-color: #f38b14;
}
.new2 {
    margin: 2vh 0 2vh 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.new2 > div {
    display: flex;
    justify-content: space-between;
}
.new2 > div > div {
    padding: 2vh 0 2vh 0;
}
.new2 img {
    width: 50%;
}
#more-news li {
    display: flex;
    height: fit-content;
    margin: auto;
    margin-bottom: 1vh;
}
#more-news img {
    width: 20%;
}
#more-news div {
    margin-left: 2vw;
}